.section_about {
    background-image: url('../images/icons/icon_3.png');
    background-size: 47px;
    background-repeat: no-repeat;
    background-position: center 32px;
    padding-top: 100px;
    padding-bottom: 70px; 
    text-align: center;
    p {
        margin-bottom: 40px;
    }
    .form-group {
        margin-bottom: 70px; 
    }
}