.section_main {
  background-image: url('../images/main-bg.jpg');
  position: relative;
  height: 21em;

  &:before {
    content: "";
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  h1 {
    font-weight: 100;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 2;
  }
}