* {box-sizing: border-box;margin: 0;padding: 0;outline: none;}
html {font-size: $font-size-base;}
body {
  background: $bg-base;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
  position: relative;
}
figure {display: block;}
img {border: none;display: block;}
h1, h2, h3, h4, h5, h6 {font-weight: $font-weight-base;}
h1 {
  font-size: $font-size-h1;
  text-align: center;
}
h2 {
  font-size: $font-size-h2;
  text-align: center;
}
h3 {font-size: $font-size-h3;}
p {
  font-size: $font-size-p;
}
a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
  &:active, &.active {color: $link-color-active;}
}
ul {list-style-type: none;
  li {list-style-type: none;display: block;}
}

// Global Classes
.align-left {text-align: left !important;}
.align-right {text-align: right !important;}
.align-center {text-align: center !important;}
.hidden {display: none !important;}
.text-bold {font-weight: bold;}

// Main
.main {
  padding-top: $header-height;
  position: relative;
}
.container-middle {
  max-width: 800px;
}
.container-small {
  max-width: 550px;
}

// Section
.section {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
// -------------------------- screen: 1024px ---------------------
// @media screen and (max-width: 1024px) {
//   h1 {font-size: $font-size30;}
// }
// -------------------------- screen: 767px ---------------------
@media screen and (max-width: 767px) {
  .main {padding-top: $header-height-mobile;}
}
// -------------------------- screen: 480px ---------------------
// @media screen and (max-width: 480px) {
//   h1 {font-size: $font-size24;}
// }